# Configuration file for STAMMP_preProcess.py
# ===========================================
#
# The pre-process is a wrapper for various programs. All Options in [Basic Options]
# must be edited by the user to provide the pre-process script with specific input data,
# directories and mapping indices.
#
# For each program used in the pre-process separate sections exist to change specific program options. The default options
# in this file are currently used in the lab. For detailed parameter description take
# a look at the program's documentations.

[general]
adapter5prime = GTTCAGAGTTCTACAGTCCGACGATC
adapter3prime = TGGAATTCTCGGGTGCCAAGG
genomeindex = /media/hd2/MIRROR/bowtie_and_genome/BowtieIndex/genome
genomefasta = /media/hd2/MIRROR/bowtie_and_genome/WholeGenomeFasta/genome.fa
rmTemp = yes   ; boolean [yes/no] remove temporary files after finishing
n_threads = 2  ; int: if supported use up to n parallel threads

[reads]
fx_Q33 = yes        ; boolean [yes/no] Only important if you use the FastxToolkit. Use Sanger or Illumina scores
bc_5prime = 5       ; int: length of the 5' barcode
min_len = 15        ; int: partial reads shorter than min_len will be discarded
ignore_edge_mut_bp = 0  ; int: filter out reads that contain mutations in the outermost n bp

[pipeline]
remove_duplicates = yes           ; boolean [yes/no] filter duplicated reads
fastx_statistics = no            ; boolean [yes/no] use fastx to obtain statistics of reads
fastqc_statistics = yes           ; boolean [yes/no] use fastqc to obtain statistics of reads
quality_trimming = fastx          ; one of {none,lafuga,fastx}
adapter_clipping = clippy         ; one of {none,lafuga,clippy}
polyA_clipping = no               ; boolean [yes/no] clip polyA tails of reads
quality_filtering = lafuga,fastx  ; subset of {lafuga,fastx} or none
mapper = bowtie                  ; one of {bowtie,STAR}

[fastQC]
kmers = 7         ; int: used in fastqc's kmer statistics
extra_flags =     ; comma separated list of additional flags

[lafugaAdapterClipper]
seed = 5          ; int: parameter controlling the clipping of partial reads

[clippyAdapterClipper]
clip_len = 10     ; int: size of partial reads used in adapter clipping

[lafugaQualityTrimmer]
q = 30            ; int: Phred score quality cutoff value

[fastxQualityTrimmer]
q = 30            ; int: minimum quality score

[polyAClipper]
min_len = 10      ; int: minimum size of polyA tail to be clipped

[lafugaQualityFilter]
q = 30            ; int: minimum quality score to keep
chastity = no     ; boolean [yes/no] Keep reads with Illumina chastity filter flag of
n = yes           ; boolean [yes/no] remove reads containing unknown bases

[fastxQualityFilter]
q = 30            ; int: minimum quality score
p = 100           ; int: minimum percent of bases that must have [q] quality.

[bowtie]
v = 1             ; int: report alignments with at most <int> mismatches. -e and -l options are ignored and quality values have no effect on what alignments are valid. -v is mutually exclusive with -n.
m = 1             ; int: suppress all alignments for a particular read or pair if more than <int> reportable alignments exist for it.
extra_flags =     ; comma separated list of additional flags
