# Configuration file for STAMMP_preProcess.py
# ===========================================
#
# The pre-process is a wrapper for various programs. All Options in [Basic Options]
# must be edited by the user to provide the pre-process script with specific input data,
# directories and mapping indices.
#
# For each program used in the pre-process separate sections exist to change specific program options. The default options
# in this file are currently used in the lab. For detailed parameter description take
# a look at the program's documentations.

[general]
adapter5prime = GTTCAGAGTTCTACAGTCCGACGATC
adapter3prime = TGGAATTCTCGGGTGCCAAGG
genomeindex = /media/hd2/MIRROR/bowtie_and_genome/BowtieIndex/genome
genomefasta = /media/hd2/MIRROR/bowtie_and_genome/WholeGenomeFasta/genome.fa
rmTemp = yes   ; boolean [yes/no] remove temporary files after finishing
n_threads = 2  ; int: if supported use up to n parallel threads

[reads]
fx_Q33 = yes        ; boolean [yes/no] Only important if you use the FastxToolkit. Use Sanger or Illumina scores
bc_5prime = 0       ; int: length of the 5' barcode
bc_3prime = 0
min_len = 20        ; int: partial reads shorter than min_len will be discarded

[pipeline]
remove_duplicates = yes
fastqc_statistics = yes
adapter_clipping = yes
quality_trimming = yes
quality_filtering = yes
mapping = STAR

[fastQC]
kmer_length = 7         ; int: used in fastqc's kmer statistics
extra_flags =     ; comma separated list of additional flags

[clippyAdapterClipper]
clip_len = 10

[fastxQualityTrimmer]
quality_cutoff = 30            ; int: minimum quality score

[lafugaQualityFilter]
quality_cutoff = 30            ; int: minimum quality score to keep
chastity = no     ; boolean [yes/no] Keep reads with Illumina chastity filter flag of
remove_n = yes           ; boolean [yes/no] remove reads containing unknown bases

[fastxQualityFilter]
quality_cutoff = 30            ; int: minimum quality score
quality_percent = 100           ; int: minimum percent of bases that must have [q] quality.

[STAR]
n_multimap = 1
n_mismatch = 1
allow_soft_clipping = yes
extra_flags =

[PostProcessing]
remove_n_edge_mut = 0
plot_transition_profiles = yes
max_mut_per_read = 1
